<!--fetch all the records from decor property in the .ts file which is accessing the products.json-->
<marquee>gifts deals in pal</marquee>
<div style="margin-top: 30px;">
    <div class="row">
        <!--1st column-->
        <div class="col col-lg-3">
            <app-allproducts></app-allproducts>
            <app-allproducts></app-allproducts>
        </div>

        <!--2nd column-->
        <div class="card col-lg-6" style="border:none;margin-top: 30px;">
              <!-- <app-gifts></app-gifts>    -->
        </div>
        <!--3rd column-->
        <div class="col col-lg-3">
            <app-advertisement></app-advertisement>
        </div>
    </div>
</div>
