<!--fetch all the records from deals property in the .ts file which is accessing the products.json-->
<marquee>Grab Your Personalized Products</marquee>
<div style="margin-top: 30px;">
    <div class="row">
        <!--1st column-->
        <div class="col col-lg-3">
            <app-allproducts></app-allproducts>
            <app-allproducts></app-allproducts>
            <app-allproducts></app-allproducts>
            <app-allproducts></app-allproducts>
            <app-allproducts></app-allproducts>
            <app-allproducts></app-allproducts>
            <app-allproducts></app-allproducts>
            <app-allproducts></app-allproducts>
            <app-allproducts></app-allproducts>
            <app-allproducts></app-allproducts>
        </div>

        <!--2nd column-->
        <div class="card col-lg-6" style="border:none;margin-top: 30px;">
            <app-deals [product]="productItem" *ngFor="let productItem of all"></app-deals>
        </div>
        <!--3rd column-->
        <div class="col col-lg-3">
            <app-advertisement></app-advertisement>
            <app-advertisement></app-advertisement>
            <app-advertisement></app-advertisement>
            <app-advertisement></app-advertisement>
            <app-advertisement></app-advertisement>
        </div>
    </div>
</div>
